.HeroImage{

}

.HeroImage img{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    object-position: top;
}

@media screen and (min-width: 768px){
    .HeroImage img{
        width: 100vw;
        height: 90vh;
        object-fit: cover;
        object-position: top;
    }
}