.Footer{
    background-color: black;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.Footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Footer ul li {
    display: inline-block;
    padding: 10px 20px;
}

.Footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

@media screen and (min-width: 768px){
    .Footer{
        
        text-align: right;
    }
    .Footer ul li a{
        font-size: 20px;
    }
}
